<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicons -->

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'pptgen/images/new/favicons/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'pptgen/images/new/favicons/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'pptgen/images/new/favicons/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'pptgen/images/new/favicons/manifest.json' %}">
	<link rel="mask-icon" href="{% static 'pptgen/images/new/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">	
	
	<!--Favicons end -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'pptgen/css/new/animate.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet"> 
    <title>PPT Generator</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'pptgen/css/new/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'pptgen/css/new/style.css' %}">

    <!-- Custom CSS -->
    <style>
    body {
/*         background-image: url(images/447071550-mozaic2.png);
*/        /*
        padding-top: 70px;*/
     }  
     h1, h2, h3,h4,p {
        font-family: 'Bellefair', serif;
     }
    </style>
</head>

<body id="myPage">

    <!-- Navigation -->
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
                <a class="navbar-brand custom-brand" href="main.html">PPT GENERATOR</a>
            </div>
        </div>
    </nav>


    <!--Banner-->
    <div class="banner">
      <div class="bg-color">
        <div class="container">
          <div class="row">
            <div class="banner-text text-center">
              <div class="intro-para text-center quote">
                <p class="big-text"><span>Welcome! </span>We're so glad you're here.</p>

                <!-- <p class="small-text"> <span><h2 class="animated zoomIn">Want to make PPT? Simply follow the steps.</h2></span></p> -->

                <div class="col-sm-6" style="margin-top: -40px;">
                     <img src="{% static 'pptgen/images/new/pptlogo.png' %}" class="pptlogo animated flip">
                    <div class="header-content animated fadeIn">
                        <h1 class="header-content-heding">PPT Generator</h1>
                        <div class="header-content-inner">
                            <h2 class="content-for-mobile">Make your Power Point presentation in just three steps for free with PPTGenerator. It’s a super simple solution for students, teachers, and beyond. Once you’re ready, simply follow the steps. </h2>                             
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 animated slideInRight" style="margin-top: 70px; color: black">
                    <img src="{% static 'pptgen/images/new/manexplaining.png' %}" class="empty-laptop">
<!--                     <ul>
                    	<li>It isn't going to be a perfect PPT</li>
 	                   <li>Only topics included in Wikipedia work</li>
    	               <li>Some topics included in Wikipedia may not work</li>
                    </ul> -->
                </div>               
                </div>
              <a href="#how-section" class="mouse-hover"><div class="mouse"></div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Banner-->

    <!-- Sction HOW starts -->
    <div style="background-image: url({% static 'pptgen/images/new/Website-Background-Slash.png' %});" >
    <div class="container" id="how-section">

      <center ><img class="direction-icon" src="{% static 'pptgen/images/new/direction-icon.png' %}"></center>   
      <h1 class="howit-works" style="text-align: center;">The PPTGenerator is simple - Here's how it works</h1>
      <div class="row">
        <div class="col-sm-4 step-images">
          <img src="{% static 'pptgen/images/new/search-wiki.jpg' %}" class="img-responsive shadow-box" style="width:100%;" alt="wikipedia search">
           <div class="media">
                <div class="media-left"><br>
                <span class="step-info">1.</span>
                </div>
                <div class="media-body">
                <h3 class="steps-content">First, Go to <a href="https://www.wikipedia.org/" target="_blank"><span style="font-weight: bold; color: #50c28c;">Wikipedia</span></a> and search for your topic.</h3>
                </div>
            </div> 
        </div>
        <div class="col-sm-4 step-images"> 
          <img src="{% static 'pptgen/images/new/wiki-copy.png' %}" class="img-responsive shadow-box" style="width:100%;" alt="wikipedia article">
          <div class="media">
                <div class="media-left"><br>
                <span class="step-info">2.</span>
                </div>
                <div class="media-body">
                <h3 class="steps-content">Then, copy the exact article title.</h3>
                </div>
          </div>    
        </div>
        <div class="col-sm-4 step-images"> 
          <img src="{% static 'pptgen/images/new/enter-topic.png' %}" class="img-responsive shadow-box" style="width:100%" alt="topic box image"> <div class="media">
                <div class="media-left"><br>
                <span class="step-info">3.</span>
                </div>
                <div class="media-body">
                <h3 class="steps-content">Finally, paste that article title into the topic box and click on <a href="#topicbox1"><span style="font-weight: bold; color: #50c28c;">Go</span></a>.</h3>
                </div>
            </div>   
        </div>    
      </div>
    </div><br>
    </div>
   
    

    <!--topic box starts-->
    <div style="background-color: #E0E0E0;">
    <div class="topicbox" id="topicbox1">
      <div class="container">
        <center>
            <form method="post">
                {% csrf_token %} 
                <p style="margin-top: 50px;"><h1>Enter Topic</h1>
                 <a style="color: #202020"><span class="glyphicon glyphicon-triangle-bottom" style="font-size:60px;"></span></a>

                <div class="tooltip1">
                <input type="text" name="ppt_topic" value="" class="form-control form-control1" id="usr" style="margin-top: 15px;">
                <div class="tooltip-custom">
                    <span class="tooltip1text"><h4>Make sure that entered topic is same as copied.</h4></span>
                </div>
                </div>  

                <button type="submit" name="submitButton" class="button button5" style="margin-top: 20px; "><span>Go</span></button>  
            </form>
        </center>
      </div> 
    </div><br><br>
    </div>

    <!--footer starts-->
    <footer class="text-center">
        <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a><br><br>
       
        <div class="copyright">
            <li>
            pptgenerator &copy; Copyright 2017
            </li>
            <li>
            Design by <a target="_blank" style="color: #50c28c;" href="https://www.facebook.com/roshan.kadu.180">Roshan Kadu</a> | Back-end by <a target="_blank" style="color:#50c28c;" href="https://www.github.com/arghhjayy">Rupanshu Janbandhu</a>
            </li>
        </div>       
    </footer>

    <script>
    $(document).ready(function(){
      // Initialize Tooltip
      $('[data-toggle="tooltip"]').tooltip(); 
      
      // Add smooth scrolling to all links in navbar + footer link
      $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {

          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 900, function(){
       
            // Add hash (#) to URL when done scrolling (default click behavior)
            //window.location.hash = hash;
          });
        } // End if
      });
    })
    </script>
</body>
</html>